---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Projects from "@/src/sections/Projects.astro";
import SocialLinks from "@/src/sections/SocialLinks.astro";
import type { UserData } from "@/src/interfaces/user-data.interface";

const locale = "es";

const response = await fetch("http://jersonmr.test/api/user-data", {
    headers: {
        "Accept-Language": locale,
        Locale: locale,
    },
});

const { data: userData } = (await response.json()) as {
    data: UserData["data"];
};

const { projects } = userData;

const { social_links } = userData;
---

<Layout title="Home">
    <Fragment>
        <Container className="mt-9">
            <div class="max-w-2xl">
                <h1
                    class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
                >
                    Desarrollador de software, y entusiasta del anime.
                </h1>
                <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                    {userData.bio}
                </p>

                <SocialLinks social_links={social_links} />
            </div>

            <Projects projects={projects} locale={locale} />
        </Container>
    </Fragment>
</Layout>
