---
import Header from "@layouts/Header.astro";
import type { UserData } from "@/src/interfaces/user-data.interface";
const { title } = Astro.props;

const locale = Astro.currentLocale ?? "en";

const response = await fetch("http://jersonmr.test/api/user-data", {
    headers: {
        "Accept-Language": locale,
        Locale: locale,
    },
});

const { data: userData } = (await response.json()) as {
    data: UserData["data"];
};
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Jerson Moreno - {title}</title>
    </head>
    <body class="flex h-full bg-zinc-50 dark:bg-black">
        <div class="flex w-full">
            <div class="fixed inset-0 flex justify-center sm:px-8">
                <div class="flex w-full max-w-7xl lg:px-8">
                    <div
                        class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
                    >
                    </div>
                </div>
            </div>
            <div class="relative flex w-full flex-col">
                <Header avatar={userData.photo} />
                <main class="flex-auto">
                    <slot />
                </main>
            </div>
        </div>
    </body>
</html>

<style is:global>
    @import "@styles/global.css";
</style>
